apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - monitoring-namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml

patches:
  # 1. Patch for Grafana Deployment (kind: Deployment)
  - path: replicas-patch.yaml
    target:
      kind: Deployment
      name: kube-prometheus-stack-grafana
      group: apps
      version: v1
  
  # 2. Patch for Alertmanager Custom Resource (kind: Alertmanager)
  - path: replicas-patch.yaml
    target:
      kind: Alertmanager
      name: kube-prometheus-stack-alertmanager
      group: monitoring.coreos.com
      version: v1
  
  # 3. Patch for Prometheus Custom Resource (kind: Prometheus)
  - path: replicas-patch.yaml
    target:
      kind: Prometheus
      name: kube-prometheus-stack-prometheus
      group: monitoring.coreos.com
      version: v1
